﻿@{
    ViewBag.Title = "Naslovnica";
}

@model IEnumerable<Oglasnik.Models.Oglasi>

<div class="row">
    <div class="hidden-xs col-sm-4 col-lg-3">
        <h3>Odabir komponente</h3>
        <div class="list-group">
            @Html.ActionLink("Grafičke kartice", "Graficke", "Oglasi", null, new { @class = "list-group-item" })
            @Html.ActionLink("Matične ploče", "Maticne", "Oglasi", null, new { @class = "list-group-item" })
            @Html.ActionLink("Memorije", "Memorije", "Oglasi", null, new { @class = "list-group-item" })
            @Html.ActionLink("Napajanja", "Psu", "Oglasi", null, new { @class = "list-group-item" })
            @Html.ActionLink("Pohrana", "Pohrana", "Oglasi", null, new { @class = "list-group-item" })
            @Html.ActionLink("Procesori", "Procesori", "Oglasi", null, new { @class = "list-group-item" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9">
        <h2>Posljednji oglasi</h2>
        @foreach (var item in Model.OrderByDescending(m => m.datum_objave).Take(5)) {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="panel-title">
                        @Html.ActionLink(item.naslov, "Details", "Oglasi", new { id = item.Id }, null)
                    </span>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(i => item.opis)
                </div>
                <div class="panel-footer">
                    @Html.DisplayFor(i => item.datum_objave)
                    <span class="pull-right">
                        @Html.DisplayFor(i => item.cijena) kn
                    </span>
                </div>
            </div>
        }
    </div>
</div>