﻿@model Oglasnik.Models.Oglasi

@{
    ViewBag.Title = "Detalji oglasa: " + Model.naslov;
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Reflection.PropertyInfo[] props = ViewBag.Komponenta.GetType().GetProperties();
    Oglasnik.Models.KomponentaBase kom = ViewBag.Komponenta;
    Array.Reverse(props);
}

<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="col-xs-6">
                <ul>
                    <li>
                        <strong>@Html.DisplayNameFor(model => model.opis):</strong><br />
                        @Html.Raw(Model.opis.Replace("\r\n", "<br>"))
                    </li>
                    @foreach (var prop in props) {
                        if ((new string[] { "Id", "oglas_id", "oglas" }).Contains(prop.Name)) {
                            continue;
                        }
                        <li>
                            <strong>
                                @prop.CustomAttributes.ElementAt(0).NamedArguments[0].TypedValue.ToString().Replace("\"", ""):
                            </strong>
                            @kom.GetType().GetProperty(prop.Name).GetValue(kom)
                        </li>
                    }
                </ul>
            </div>
            <div class="col-xs-6">
                <ul>
                    <li>
                        <strong>Objavio korisnik:</strong>
                        <a href="mailto:@ViewBag.Oglasivac.UserName?subject=@Model.naslov">@ViewBag.Oglasivac.UserName</a>
                    </li>
                    <li>
                        <strong>Tel:</strong>
                        <a href="tel:@ViewBag.Oglasivac.PhoneNumber">@ViewBag.Oglasivac.PhoneNumber</a>
                    </li>
                    <li>
                        <strong>@Html.DisplayNameFor(m => m.cijena):</strong>
                        @Html.DisplayFor(m => m.cijena) KN
                    </li>
                    <li>
                        <strong>@Html.DisplayNameFor(m => m.datum_objave):</strong>
                        @Html.DisplayFor(m => m.datum_objave)
                    </li>
                    <li>@Html.ActionLink("Preuzmi PDF", "OglasPdf", new { id= @Model.Id })</li>
                </ul>
            </div>
        </div>
    </div>
</div>