﻿@{
    Layout = null;
}

@model Oglasnik.Models.Memorije

<div class="form-group">
    @Html.LabelFor(model => model.proizvodac, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.proizvodac, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.proizvodac, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.model, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.model, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.tip, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.tip, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.tip, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.frekvencija, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.frekvencija, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.frekvencija, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.velicina, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.velicina, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.velicina, "", new { @class = "text-danger" })
    </div>
</div>