﻿@{
    Layout = null;
}

@model Oglasnik.Models.Pohrana

<div class="form-group">
    @Html.LabelFor(model => model.proizvodac, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.proizvodac, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.proizvodac, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.model, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.model, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.rpm, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.rpm, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.rpm, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.sata_ver, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.sata_ver, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.sata_ver, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.velicina, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.velicina, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.velicina, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.brzina_cit, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.brzina_cit, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.brzina_cit, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.brzina_pis, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.brzina_pis, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.brzina_pis, "", new { @class = "text-danger" })
    </div>
</div>
