﻿@using Oglasnik.Helpers
@model IEnumerable<Oglasnik.Models.Procesori>

@{
    ViewBag.Title = "Procesori";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title</h2>

<div class="hidden-xs col-sm-4 col-lg-3">
    <div class="container"><a href="" id="reset">Reset</a></div>
    @Html.SpecFilter(Model.Select(m => m.proizvodac).Distinct(), m => m.proizvodac)
    @Html.SpecFilter(Model.Select(m => m.model).Distinct(), m => m.model)
    @Html.SpecFilter(Model.Select(m => m.jezgre).Distinct(), m => m.jezgre)
    @Html.SpecFilter(Model.Select(m => m.socket).Distinct(), m => m.socket)
    @Html.SpecFilter(Model.Select(m => m.frekvencija).Distinct(), m => m.frekvencija)
    @Html.SpecFilter(Model.Select(m => m.potrosnja).Distinct(), m => m.potrosnja)
</div>

<div class="col-xs-12 col-sm-8 col-lg-9">
    <div class="row">
        <div class="container-fluid">
            <div class="col-xs-6">
                <label>Broj oglasa koji odgovaraju kriterijima:</label><br />
                <span id="crit_count"></span> / @Model.Count()
            </div>
            <div class="col-xs-3 col-xs-offset-3">
                <label>Oglasa po stranici:</label>
                <input type="number" class="form-control" id="splitBy" value="3" min="1" />
            </div>
        </div>
    </div>

    @foreach (var item in Model) {
        <div class="panel panel-success oglas" data-oglas="@Json.Encode(item)" style="display:none">
            <div class="panel-heading">
                <span class="panel-title" data-toggle="popover" title="Opis">
                    @Html.ActionLink(item.oglas.naslov, "Details", "Oglasi", new { id = item.oglas.Id }, null)
                    <span class="pull-right">@Html.DisplayFor(modelItem => item.oglas.datum_objave)</span>
                </span>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="col-xs-6">
                        <ul>
                            <li><strong>@Html.DisplayNameFor(m => m.proizvodac)</strong>: @Html.DisplayFor(modelItem => item.proizvodac)</li>
                            <li><strong>@Html.DisplayNameFor(m => m.model)</strong>: @Html.DisplayFor(modelItem => item.model)</li>
                            <li><strong>@Html.DisplayNameFor(m => m.jezgre)</strong>: @Html.DisplayFor(modelItem => item.jezgre)</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            <li><strong>@Html.DisplayNameFor(m => m.socket)</strong>: @Html.DisplayFor(modelItem => item.socket)</li>
                            <li><strong>@Html.DisplayNameFor(m => m.frekvencija)</strong>: @Html.DisplayFor(modelItem => item.frekvencija)</li>
                            <li><strong>@Html.DisplayNameFor(m => m.potrosnja)</strong>: @Html.DisplayFor(modelItem => item.potrosnja)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                &nbsp;<span class="pull-right">@Html.DisplayNameFor(m => m.oglas.cijena): @Html.DisplayFor(modelItem => item.oglas.cijena) kn</span>
            </div>
        </div>
    }

    <nav>
        <ul class="pagination">
            <li id="prev">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li id="next">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/filtriranje-oglasa.js")
}