﻿@{
    Layout = null;
}

@model Oglasnik.Models.Psu

<div class="form-group">
    @Html.LabelFor(model => model.proizvodac, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.proizvodac, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.proizvodac, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.model, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.model, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.snaga, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.snaga, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.snaga, "", new { @class = "text-danger" })
    </div>
</div>